fastapi
joblib
matplotlib
numpy
protobuf
psutil
torch
torchvision
torchaudio
ultralytics
uvicorn
requests
google-genai
google-generativeai
reportlab
opencv-python
shapely
face_recognition
pandas
scikit-learn
transformers